<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <p class="lead">Amazon</p>
      <%= component Shop::CategoryMenu, categories: @categories %>
    </div>

    <div class="col-md-9">

      <div class="row carousel-holder">

        <div class="col-md-12">
          <%= component Shop::Carousel, items: @featured_products %>
        </div>
      </div>

      <div class="row">
        <%= component Shop::ProductGrid, products: @products %>
      </div>

    </div>

  </div>

</div>
<!-- /.container -->
